{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "TFA_WORK_QUEUE": "folio-extract",
    "TFA_QUEUE_CONNECTION__queueServiceUri": "https://<acct>.queue.core.windows.net",
    "TFA_SHAREPOINT_SYNC_CRON": "0 */5 * * * *"
  }
}
